@import 'semantic-ui';

#logo {
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 1.4em;
  color: rgb(221, 113, 31);
  background: linear-gradient(to right, #4d4d4e, #101011);
}

#icon {
  background: linear-gradient(to right, #4d4d4e, #101011);
}

.chatbox {
  height: 450px;
}

.chat_with_me {
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 1.4em;
  color: rgb(221, 113, 31);
}

#messages {
  height: 15em;
  overflow: auto;
}
