<div class="ui inverted vertical footer segment form-page">
  <div class="ui container center aligned row">
    <small class="chat_with_me">ChatWithMe</small> &copy; <%= link_to "GitHub", "https://github.com/iAcay/chat_with_me", target: "_blank", class: "text-white" %>
  </div>
</div>
